<div class="p-5 m-5 text-center">
  <h1>댓글 가능한 게시판</h1>
  <a class="btn btn-primary my-3" href="/posts/new" role="button">글 쓰기</a>
</div>

<table class="my-5 table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th class="w-50" scope="col">제목</th>
      <th scope="col">내용</th>
      <th scope="col">작성일</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr onclick="location.href='/posts/<%=post.id%>'" style="cursor:pointer;">
      <th scope="row"><%= post.id %></th>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= time_ago_in_words(post.created_at) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
