<%= link_to '글 쓰기', new_post_path %>
<!-- <a href="/posts/new">글 쓰러가기</a> -->

<!-- link_to = a tag  -->
<% @posts.each do |post| %>
  <p>작성자 : <%= post.user.email %></p>
  <p><%= post.id %></p>
  <p>제목 : <%= post.title %></p>
  <p>내용 : <%= post.content %></p>
  <%= link_to '글보기', post , class: "btn btn-primary"%>

  <%= link_to "posts/#{post.id}/like" do%>
    <i class="far fa-heart"></i>
    <i class="fas fa-heart"></i>
  <%end%>
  <!-- <a href="/posts/<%=post.id%>">글 보러가기</a> -->
  <hr />
<% end %>
<br />
<!-- 밑에 게시판 번호 이동 가능 -->
<div class="d-flex justify-content-center">
  <%= paginate @posts %>
</div>
